---
import "../styles/global.css";
---

<html>
  <body>
    <h1>About Me</h1>
    <p>Hello, my name is Joshua Allison-Begay.</p>
    <p>I am 23 years old and I am attending Fort Lewis College.</p>
  </body>
</html>
