---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const name = "Joshua Allison-Begay";
const age = 23;
const school = "Fort Lewis College";
---

<BaseLayout pageTitle={pageTitle}>
  <p>My name is {name}.</p>
  <p>I am {age} years old.</p>
  <p>I attend {school}.</p>
</BaseLayout>