---
import "../styles/global.css";

const name = "Joshua Allison-Begay";
const age = 23;
const school = "Fort Lewis College";
---

<html>
  <body>
    <h1>About Me</h1>

    <p>My name is {name}.</p>
    <p>I am {age} years old.</p>
    <p>I attend {school}.</p>
  </body>
</html>